<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="2000px" height="2000px" viewBox="0 0 2000 2000" enable-background="new 0 0 2000 2000" xml:space="preserve">
  <line fill="none" stroke="#FFFFFF" stroke-width="400" stroke-miterlimit="10" x1="264.93" y1="265.607" x2="1731.104" y2="1739.949"/>
  <line fill="none" stroke="#FFFFFF" stroke-width="400" stroke-miterlimit="10" x1="1737.393" y1="267.485" x2="263.051" y2="1733.659"/>
</svg>
