/*....................................General settings..................................*/




/*.....................TEXT MARK STYLES......................*/

::-moz-selection {
    background: $yellow;
    color: #FFFFFF;
    text-shadow: none;
}

::selection {
    background: $yellow;
    color: #FFFFFF;
    text-shadow: none;
}

/*.........................................................*/


a:active {
    color: $yellow;
}

.ng-click-active{
  color:$yellow;
  stroke: $yellow;
}


/*.....................ACTIVE CLASSES......................*/

.active{
  color: #FF0000 !important;
  pointer-events: none;
}

/*.........................................................*/




/*....................HIDING SCROLLBAR.....................*/
::-webkit-scrollbar {
    display: none;
}






*{
  -webkit-overflow-scrolling: touch;
}













html{

}



*, *:before, *:after {
  box-sizing: inherit;
}




/*.....................GENERAL STYLES......................*/

html{
  box-sizing: border-box;
  font-family: $font-family-paragraph;
  width: 100%;
  height: auto;
  margin: 0, 0;
  padding: 0, 0;
}


body {
  width: 100%;
  height: auto;
  margin: 0, 0;
  padding: 0, 0;
  display: table;
  text-transform: uppercase;
/* Set the background color of the HTML page to black */
background-color: #FFFFFF;

/* Hide oversized content. This prevents the scroll bars. */
// overflow: hidden;
}


p, a, li {
  font-size: $font-size-paragraph;
  list-style-type: none;
  letter-spacing:$letter-spacing;
  color: #000000;
}


input, textarea, select, a, li {
  text-decoration: none;
}






@keyframes myfirst
{
0%   {@include transform-element(translateX(0vw));}
100% {@include transform-element(translateX(-100vw));}
}

@-moz-keyframes myfirst /* Firefox */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-100vw));}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-100vw));}
}

@-o-keyframes myfirst /* Opera */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}

@keyframes myfirst_m
{
0%   {@include transform-element(translateX(0vw));}
100% {@include transform-element(translateX(-550vw));}
}

@-moz-keyframes myfirst_m /* Firefox */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}

@-webkit-keyframes myfirst_m /* Safari and Chrome */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}

@-o-keyframes myfirst_m /* Opera */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}



/*.........................MAIN............................*/
main {
  height: auto;
  position: relative;
  display: block;
  list-style-type: none;
      display: table;
  // z-index: $z-main;
}

/*.............................Loader............................*/



.page-loader-div{
  display: block;
  height: 100vh;
  opacity: 1;
  display: block;
  width: 100vw;
  float: left;
  padding: 0;
  margin: 0;
  display: list-item;
  background-color: transparent;
  z-index: $z-loader;
  background-color: rgba(255,255,255,0.95);
  position: fixed;
  .loading-p{
    position: fixed;
    width:100vw;
    height:100vh;
    vertical-align: middle;
    text-align: center;
    font-size: $font-size-subtitle;
  }
}


.loading-logo{
  width:400px;
  height: 200px;
  position: fixed;
  left:50%;
  margin-left: -200px;
  top:50%;
  margin-top:-100px;
  svg{
    height: 100%;
    width: 100%;
    animation-name: pulse_animation;
  	animation-duration: 3000ms;
    animation-delay: 0ms;
    transform-origin: 50% 50%;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
    @include respond-to(phone){
    height: 100%;
    width: 100%;
    }
  }
}


@keyframes pulse_animation {
	0% { transform: scale(1);  opacity: 1;}
	30% { transform: scale(1); opacity: 1;}
	40% { transform: scale(1.08); opacity:  1;}
	50% { transform: scale(1); opacity: 1;}
	60% { transform: scale(1); opacity: 1;}
	70% { transform: scale(1.05); opacity: 1;}
	80% { transform: scale(1); opacity: 1;}
	100% { transform: scale(1); opacity: 1;}
}








/*.............................NG-CLOAK............................*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


[ng-click],
[data-ng-click],
[x-ng-click] {
cursor: pointer;
}





.grey-placeholder{
  display: block;
  height: 100%;
  width: 100%;

}
