/*....................................General settings..................................*/




/*.....................TEXT MARK STYLES......................*/

::-moz-selection {
    background: $yellow;
    color: #FFFFFF;
    text-shadow: none;
}


::selection {
    background: $yellow;
    color: #FFFFFF;
    text-shadow: none;
}

/*.........................................................*/


a:active {
    color: $yellow;
}
.ng-click-active{
  color:$yellow;
  stroke: $yellow;
}


/*.....................ACTIVE CLASSES......................*/

.active{
  color: #FF0000 !important;
  pointer-events: none;
}

/*.........................................................*/






/*....................HIDING SCROLLBAR.....................*/

::-webkit-scrollbar {
    display: none;
}






*{
  -webkit-overflow-scrolling: touch;
}













html{

}



*, *:before, *:after {
  box-sizing: inherit;
}




/*.....................GENERAL STYLES......................*/

html{
  box-sizing: border-box;
  font-family: $font-family-paragraph;
  width: 100%;
  height: auto;
  margin: 0, 0;
  padding: 0, 0;
}


body {
  width: 100%;
  height: auto;
  margin: 0, 0;
  padding: 0, 0;
  display: table;
  text-transform: uppercase;
/* Set the background color of the HTML page to black */
background-color: #FFFFFF;

/* Hide oversized content. This prevents the scroll bars. */
// overflow: hidden;
}


p, a, li {
  font-size: $font-size-paragraph;
  list-style-type: none;
  letter-spacing:$letter-spacing;
  color: #000000;
}


input, textarea, select, a, li {
  text-decoration: none;
}





//
// @keyframes myfirst
// {
// 0%   {background:red;}
// 25%  {background:yellow;}
// 50%  {background:blue;}
// 100% {background:green;}
// }
//
// @-moz-keyframes myfirst /* Firefox */
// {
// 0%   {background:red;}
// 25%  {background:yellow;}
// 50%  {background:blue;}
// 100% {background:green;}
// }
//
// @-webkit-keyframes myfirst /* Safari and Chrome */
// {
// 0%   {background:red;}
// 25%  {background:yellow;}
// 50%  {background:blue;}
// 100% {background:green;}
// }
//
// @-o-keyframes myfirst /* Opera */
// {
// 0%   {background:red;}
// 25%  {background:yellow;}
// 50%  {background:blue;}
// 100% {background:green;}
// }


@keyframes myfirst
{
0%   {@include transform-element(translateX(0vw));}
100% {@include transform-element(translateX(-100vw));}
}

@-moz-keyframes myfirst /* Firefox */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-100vw));}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-100vw));}
}

@-o-keyframes myfirst /* Opera */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}

@keyframes myfirst_m
{
0%   {@include transform-element(translateX(0vw));}
100% {@include transform-element(translateX(-550vw));}
}

@-moz-keyframes myfirst_m /* Firefox */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}

@-webkit-keyframes myfirst_m /* Safari and Chrome */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}

@-o-keyframes myfirst_m /* Opera */
{
  0%   {@include transform-element(translateX(0vw));}
  100% {@include transform-element(translateX(-550vw));}
}

// @mixin transform-element($coordinate){
//   transform: $coordinate;
//   -ms-transform: $coordinate; /* IE 9 */
//  	-webkit-transform: $coordinate; /* Safari */
//   transform-origin: 0 0;
// }





/*.........................MAIN............................*/
main {
  height: auto;
  position: relative;
  display: block;
  list-style-type: none;
      display: table;
  // z-index: $z-main;
}

/*.............................Loader............................*/



.page-loader-div{
  display: block;
  height: 100vh;
  opacity: 1;
  display: block;
  width: 100vw;
  float: left;
  padding: 0;
  margin: 0;
  display: list-item;
  background-color: transparent;
  z-index: $z-loader;
  background-color: rgba(255,255,255,0.95);
  position: fixed;
  .loading-p{
    position: fixed;
    width:100vw;
    height:100vh;
    // top:50%;
    // left:50%;
    // width:100px;
    // height:50px;
    // margin-top:-25px;
    // margin-left:-50px;
    // line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: $font-size-subtitle;
    font-family: camptonSemiBold;
  }
}


.loading-logo{
  width:100vw;
  height: 100vh;
  // width:100px;
  // height:100px;
  // position: fixed;
  // left:50%;
  // top:50%;
  // margin-left: -50px;
  // margin-top:-50px;
  svg{
    animation:myfirst 2s linear infinite;
    // width:100%;
    height:100%;
    @include respond-to(phone){
      height:90%;
      animation:myfirst_m 1.6s linear infinite;


    }
  }

}



/**
 * Loading animation like the one seen on http://www.freeger.com/projects/contextad/ with CSS
 * Caveat: Not DRY. The content needs to be repeated in a data- attribute (or directly in the CSS).
 */

// body {
// 	background: #ccc51c;
// 	min-height: 100%;
// }
//
// h1 {
// 	position: absolute;
// 	left: 50%;
// 	margin-left: -1.9em;
// 	color: hsla(0,0%,100%,.3);
// 	font: 900 800% Baskerville, 'Palatino Linotype', Palatino, serif;
// }
//
// @keyframes loading {
// 	from { max-width: 0; }
//     font-family: $font-family-title;
// }
//
// .contad:before {
// 	content: attr(data-content);
// 	position: absolute;
// 	overflow: hidden;
// 	max-width: 5em;
// 	color: white;
// 	animation: loading 5s linear;
//   // @include title();
//     // font-family: $font-family-title;
//
// }














/*.............................NG-CLOAK............................*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


[ng-click],
[data-ng-click],
[x-ng-click] {
cursor: pointer;
}











.images-loader-div{
  display: block;
  position: relative;
  width: 33.333333333333vw !important;
  height: 33.3333333333vw !important;
  opacity: 1;
  display: block;
  // float: left;
  padding: 0;
  margin: 0 0 0 0;
  display: list-item;
  background-color: #FFFFFF;
  // border: 1px solid #FFFFFF;
  @include respond-to(phone) {
    width: 100vw !important;
    height: 100vw !important;
  }
  .loader {
    position: relative;
    height: 35px !important;
    width: 35px !important;
    top: 50% !important;
    left: 50%;
    margin-top: -17.5px;
    margin-left: -17.5px;
    border: 2px solid #606060;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: rotate .75s linear infinite;
    animation: rotate .75s linear infinite;
    z-index: 1;
    @include respond-to(phone-landscape-device) {
      left: 50%;
      top: 56%;
      margin-left: -25px;
    }
  }
}

.grey-placeholder{
  display: block;
  height: 100%;
  width: 100%;

}
