.header{
  position: fixed;
  bottom: $margin-sides;
  right: $margin-sides;
  width: 120px;
  height: 80px;
  background-color: #000000;
  z-index: $z-header;
  @include raised(0.6);
  @include respond-to(phone){
    width: 60px;
    height: 60px;
    bottom: $margin-sides-mobile;
    right: $margin-sides-mobile;
  }
  .header-wrapper{
    width: 100%;
    height: 100%;
    @include respond-to(phone){
      width: 60px;
      height: 60px;
      position: absolute;
      right: 0px;
    }
    .logo-wrapper{
      width: 80px;
      height: 80px;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -50px;
      @include respond-to(phone){
        left:50%;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
      }
      & > svg{
        width: 100%;
        height: 80px;
        @include respond-to(phone){
          height: 100%;
        }
      }
      .menu-icon-svg{
        width: 15px;
        height: 50%;
        position: absolute;
        top:50%;
        right: -20px;
        margin-top: -25%;
        @include respond-to(phone){
          width: 100%;
        }
      }
    }
  }
}


//when mobile nav is open
.header.navOpen{
  @include respond-to(phone){
    width:60px;
    height: 60px;
  }
}









.nav{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 1);
  z-index: $z-nav;
  top:0;
  left: 0;

  @include respond-to(phone){
    height:100vh;
  }
}

.nav-close{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top:50%;
  margin-top: -25px;
  margin-left: -25px;
  @include respond-to(phone){

  }
  a{
    width:100%;
    height: 100%;
    color: #FFFFFF;
    line-height: 70px;
    text-align: center;
    display: block;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}

.nav-content{
  width:100vw;
  height:100vh;
  @include respond-to(phone){
    height: calc(100vh - 140px);
  }
  .nav-ul{
    width:100vw;
    height:100vh;
    @include respond-to(phone-device){
      height: calc(100vh - 140px);
    }
    .nav-li{
      border: 1px solid #FFFFFF;
      box-sizing:border-box;
      float:left;
      width:50vw;
      height:33.33vh;

      @include hover-effect-background-color($black, $yellow);
      @include respond-to(phone){
        height: 33.333%;
        position: relative;
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        p{
          @include title();
          color: #FFFFFF;
          width: 100%;
          height: 100%;
          line-height: 33.33vh;
          text-align: center;
          vertical-align: middle;
          display: block;
          font-size: $font-size-nav;
          @include respond-to(phone){
            font-size: $font-size-nav-mobile;
            height: 25px;
            line-height: 25px;
            position: absolute;
            top:50%;
            margin-top: -12.5px;
          }
        }
      }
    }
  }
}












@keyframes close_slideLeft {
  0% { @include transform-element(translateX(10vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-webkit-keyframes close_slideLeft {
  0% { @include transform-element(translateX(10vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-moz-keyframes close_slideLeft {
  0% { @include transform-element(translateX(10vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-ms-keyframes close_slideLeft {
  0% { @include transform-element(translateX(10vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-o-keyframes close_slideLeft {
  0% { @include transform-element(translateX(10vw)); }
  100% { @include transform-element(translateX(0vw)); }
}



@keyframes close_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(10vw)); }
}

@-webkit-keyframes close_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(10vw)); }
}

@-moz-keyframes close_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(10vw)); }
}

@-ms-keyframes close_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(10vw)); }
}

@-o-keyframes close_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(10vw)); }
}




$animation-bezier: ease-in;
$animation-speed: 0.3s;

.close-right{
  position: fixed;
  @include transform-element(translateX(0vw));
}
.close-right.ng-hide{
  @include transform-element(translateX(10vw));
}


.close-right.ng-hide-remove.ng-hide-remove-active{
  -webkit-animation: close_slideLeft $animation-speed $animation-bezier;
  -moz-animation: close_slideLeft $animation-speed $animation-bezier;
  -ms-animation: close_slideLeft $animation-speed $animation-bezier;
  -o-animation: close_slideLeft $animation-speed $animation-bezier;
  animation: close_slideLeft $animation-speed $animation-bezier;
}

.close-right.ng-hide-add.ng-hide-add-active{

  -webkit-animation: close_slideRight $animation-speed $animation-bezier;
  -moz-animation: close_slideRight $animation-speed $animation-bezier;
  -ms-animation: close_slideRight $animation-speed $animation-bezier;
  -o-animation: close_slideRight $animation-speed $animation-bezier;
  animation: close_slideRight $animation-speed $animation-bezier;
}
