/*....................................SCSS VARIABLES..................................*/

$z-nav: 4;
// ........................................................FONT FAMILIES
$font-one: "minerva-modern";
$font-two: "nimbus-sans";



// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;



// ........................................................FONT SIZES
$font-size-nav:35px;
$font-size-title:35px;
$font-size-subtitle:16px;
$font-size-paragraph: 12px;

$font-size-nav-mobile:25px;
$font-size-title-mobile:30px;
$font-size-subtitle-mobile:14px;
$font-size-paragraph-mobile: 12px;


$letter-spacing: 1px;





$font-family-nav: gtWalsheimPro-black;
$font-family-title: gtWalsheimPro-black;
$font-family-subtitle: gtWalsheimPro-regular;
$font-family-paragraph: gtWalsheimPro-light;



// ........................................................FONT LINEHEIGHTS
$line-height-title: 50px;
$line-height-subtitle: 30px;
$line-height-paragraph: 22px;


$line-height-title-mobile: 40px;
$line-height-subtitle-mobile: 24px;
$line-height-paragraph-mobile: 18px;

// ........................................................TEXT PADDINGS
$padding-text: 5px;
$padding-left: 0px;
$padding-headline-bottom: 20px;



// ........................................................COLORS
$black: #000000;
$white: #FFFFFF;
$yellow: #ede611;
// f0e928
$light-grey: rgba(0,0,0, 0.3);

// ........................................................MARGINS
$margin-sides: 20px;
$margin-bottom: 35px;
$margin-top: 100px;
$margin-sides-mobile:10px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................COLOR CHANGES




// ........................................................FADE INS
$smooth-scroll-timing: 1.4s;
$collection-fade-zero: .2s;
$collection-fade-out: .4s;
$collection-fade-in: 1.4s;


$z-loader: 999;
$z-header: 13;
$z-nav: 12;

$z-artist-image:11;
$z-artist-name:12;
$z-artist-title:11;
$z-artist-video:11;
$z-about-video:11;
$z-about-title:11;
$z-index-artist-release:11;

$z-related-title: 7;
$z-related-image: 6;


$z-close:10;
$z-home: 10;

$z-main: 6;
$z-artist: 6;


/*....................................................................................*/
