/*....................................SCSS VARIABLES..................................*/

$z-nav: 4;
// ........................................................FONT FAMILIES
$font-one: "minerva-modern";
$font-two: "nimbus-sans";



// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;



// ........................................................FONT SIZES
$font-size-nav:35px;
$font-size-title:35px;
$font-size-subtitle:16px;
$font-size-paragraph: 12px;

$letter-spacing: 1px;



// ........................................................FONT LINEHEIGHTS
$line-height-title: 50px;
$line-height-subtitle: 30px;



// ........................................................TEXT PADDINGS
$padding-text: 5px;
$padding-left: 0px;
$padding-headline-bottom: 20px;



// ........................................................COLORS

$yellow: #ede611;
$red-rgba: rgba(230, 0, 0, 1);
$red-opaque: rgba(206, 17, 17, 0.4);



// ........................................................MARGINS
$margin-sides: 20px;
$margin-bottom: 35px;
$margin-top: 20px;



// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................COLOR CHANGES




// ........................................................FADE INS
$smooth-scroll-timing: 1.4s;
$collection-fade-zero: .2s;
$collection-fade-out: .4s;
$collection-fade-in: 1.4s;


$z-loader: 999;
$z-header: 13;
$z-nav: 12;

$z-journal:11;

$z-close:10;
$z-home: 10;

$z-home-artist:7;
$z-main: 6;
$z-home-live: 6;
$z-artist: 6;
$z-home-journal:6;

/*....................................................................................*/
