

@font-face {
    font-family: gtWalsheimPro-black;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProBlack-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProBlack-Oblique.otf') format('otf');
}

@font-face {
    font-family: gtWalsheimPro-regular-oblique;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProRegular-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProRegular-Oblique.otf') format('otf');
}

@font-face {
    font-family: gtWalsheimPro-light;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProLight.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProLight.otf') format('otf');
}

@font-face {
    font-family: gtWalsheimPro-regular;
    src: url('assets/fonts/GT-Walsheim/otf/GTWalsheimProRegular.otf') format('woff'), url('assets/fonts/GT-Walsheim/woff/GTWalsheimProRegular.woff') format('otf');
}



// @font-face {
//     font-family: gtWalsheimPro;
//     src: url('') format('woff'), src: url('') format('otf');
// }
