<nav ng-controller="navCtrl" class="nav" ng-show="isNavOpen" ng-click="closeNav()">




  <div class="nav-content">

    <ul class="nav-ul">
      <li class="nav-li" ng-click="closeNav()"><a href="/"><p>home</p></a></li>
      <li class="nav-li" ng-click="closeNav()"><a href="/gang" ><p>gang</p></a></li>
      <li class="nav-li" ng-click="closeNav()"><a href="/artists"><p>artists</p></a></li>
      <li class="nav-li" ng-click="closeNav()"><a href="/producers"><p>producers</p></a></li>
      <li class="nav-li" ng-click="closeNav()"><a href="/subscribe"><p>subscribe</p></a></li>
      <li class="nav-li" ng-click="closeNav()"><a href="http://store.wizkhalifa.com/tgod-gear/taylor-gang.html" target="_blank"><p>shop</p></a></li>
    </ul>

  </div>




</nav>
