<nav ng-controller="navCtrl" class="nav" ng-show="isNavOpen" ng-click="closeNav()">




<div class="nav-content">

  <ul class="nav-ul">
    <li class="nav-li" ng-click="closeNav()"><a href="/">home</a></li>
    <li class="nav-li" ng-click="closeNav()"><a href="/about">gang</a></li>
    <li class="nav-li" ng-click="closeNav()"><a href="/artist">artist</a></li>
    <li class="nav-li" ng-click="closeNav()"><a href="/contact">contact</a></li>
    <li class="nav-li" ng-click="closeNav()"><a href="/subscribe">subscribe</a></li>
    <li class="nav-li" ng-click="closeNav()"><a href="http://store.wizkhalifa.com/tgod-gear/taylor-gang.html" target="_blank">shop</a></li>
  </ul>

</div>





</nav>
