<div class="contact" ng-controller="contactCtrl" summary="this is the content of contact">
    <table class='contact-table'>
      <tr>
        <td style="height:100%; vertical-align: middle;">
            <div class="contact-form">

                                              <!-- SHOW ERROR/SUCCESS MESSAGES -->
                                                <div id="messages" ng-show="message">{{ message }}</div>



                                                <!-- errors -->
                                                  <div class="alert alert-danger" ng-show="error">
                                                  <button class="close" data-dismiss="alert">x</button>
                                                 <!-- An error occured while trying to send message. -->
                                                      <!-- <p class="back-button"><a href="/contact" ng-click="contactMobileOutsideBackLink()">back</a></p> -->
                                                  </div>

                                                  <div class="alert-success" ng-show="success">
                                                    <!-- <button class="close" data-dismiss="alert">x</button> -->
                                                     We received your message. Thank you for your interest.
                                                    <p class="back-button"><a href="/contact" ng-click="contactMobileOutsideBackLink()">back</a></p>
                                                  </div>

  <!-- form -->
              <form role="form" name="contactForm" ng-submit="processForm()" novalidate ng-hide="hideContact">

                <div class = "text">
                  <p>fill in</p>

                </div>

                <div class="form-group1">
                  <input class="form-control1 input" type="text" name="name"  ng-model="formData.name" required="required" placeholder="NAME" onfocus="this.placeholder = ''" onblur="this.placeholder = 'NAME'">
                <!-- <span class="help-block" ng-show="contactForm.name.$error.required">Required</span> -->
                </div>
<!--               <div class="form-error-name" ng-show="contactForm.name.$error.required && contactForm.name.$touched">
                  <span>required field</span>
                </div> -->

                <div class="form-group2">
                  <input class="form-control2 input" type="email" name="email" ng-model="formData.email" required="required" placeholder="EMAIL" onfocus="this.placeholder = ''" onblur="this.placeholder = 'EMAIL'">
                </div>

  <!--               <div class="form-error-email" ng-show="contactForm.email.$touched && contactForm.email.$error.required">
                  <span>required field</span>
                </div> -->

  <!--               <div class="form-error-email" ng-show="contactForm.email.$touched && contactForm.email.$error.email">
                  <span>invalid email</span>
                </div> -->
                  <div class = "drop-down">
                    <select class = "contact-dropdown" name="subject" ng-model="formData.subject">
                      <div class = "placeholder-text">
                        <option value="" disabled selected>SUBJECT</option>
                      </div>
                      <option>GENERAL</option>
                      <option>COLLECTIONS</option>
                      <option>PRESS</option>
                      <option>JOBS</option>
                    </select>

                    <div class = "contact-select-arrow">
                      <b></b>
                    </div>
                </div>

                <div class="form-group3">
                  <textarea class="form-control3 input" rows="5" name="message"   ng-model="formData.body" placeholder="MESSAGE" onfocus="this.placeholder = ''" onblur="this.placeholder = 'MESSAGE'" ></textarea>
                  <!-- <span class="help-inline" ng-show="contactForm.message.$error.required">Required</span> -->
                </div>

                <button type="submit" class="submit-button"  ng-class="{'contactDisabled': contactForm.$invalid}" ng-click="processForm()" ng-disabled="contactForm.$invalid">SUBMIT</button>
            </form>
          </div>
              <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->


            <!-- <div class="contact-company" ng-hide="hideContact"> -->

            <!-- <div class = "showroom-address">
              <h1>SHOWROOM</h1>
                <span>148 W. 37th St. 7th floor</span>
                <span>New York, NY 10018</span>
            </div> -->

            <!-- <div class = "number">
              <span>212-921-9827</span>
            </div> -->

            <!-- <div class = "contacts">
              <h1>CONTACTS</h1>
              <p>Dom Nazario</p>
              <span>Showroom Representative</span>
              <span ><a href="mailto:dom@angelsanchezusa.com">dom@angelsanchezusa.com</a></span>
            </div> -->


            <!-- <div class = "PR">
              <p>Carolina Almandoz</p>
              <span>Public Relations Director</span>
              <span><a href="mailto:carolina.almandoz@angelsanchezusa.com">carolina.almandoz@angelsanchezusa.com</a></span>
            </div> -->




            <!-- </div> -->

      </td>
    </tr>
  </table>






</div>
