.producer{
  width: 100vw;
  // height: 100vh;
  display: table;

}



.producer-ul{
  display: block;
  position: relative;
  margin: auto;
  width:100vw;
  display: table;
  .producer-li{
    width:100vw;
    height: 100vh;
    position: relative;
    @include hover-effect-saturation(100%, 0%);
    @include respond-to(phone){
      height: 30vh;
    }
    .producer-li-image{
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: auto 79%;
      background-repeat: no-repeat;
      z-index: $z-producer-image;

      @include respond-to (phone){
        width: 100%;
        height: 100%;
        margin: auto auto;
        background-size: auto 70%;
      }
    }
    .producer-li-name{
      display:block;
      position: absolute;
      width:100%;
      height: 100%;
      line-height: 100vh;
      font-family: gtWalsheimPro-black;
      color: $light-grey-transparent;
      font-size: 12vw;
      top:0;
      text-align: center;
      z-index: $z-producer-name;
      @include respond-to(phone){
        font-size: 40px;
        height: 20vh;
        line-height: 20vh;
        margin-top: 10vh;
      }
    }
  }
}





#courtneynoelle{
  font-size: 120px;
  @include respond-to(phone){
    font-size: 30px;
  }

}



#producer-li-image-tukicarter{

}














//.....................................................................................................//
//.....................................................................................................//
//..................................................DETAIL.............................................//
//.....................................................................................................//
//.....................................................................................................//
.producer-detail{

}

.producer-header{
  width: 100vw;
  height: 120px;
  position: relative;
  @include respond-to(phone){
    height: 80px;
  }
  .producer-header-name{
    width: auto;
    position: absolute;
    right:$margin-sides;
    top: 0;
    color: $light-grey;
    font-size: 9vw;
    font-family: gtWalsheimPro-black;
    height: 100%;
    line-height: 120px;

    @include respond-to(phone){
      position: absolute;
      right:$margin-sides-mobile;
      top: $margin-sides-mobile;
      height: 80px;
      line-height: 80px;
      font-size: 8vw;
    }
  }
  .producer-header-image{
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 40vw;
    height:120px;
    right: $margin-sides;
    bottom: 0;
    @include respond-to(phone){
      background-position: 0% bottom;
      background-repeat: no-repeat;
      background-size: 120% auto;
      position: absolute;
      width: 30vw;
      height: 100%;
      right: $margin-sides-mobile;
      top: 0;
    }

  }//producer-header-image
  .producer-header-text{
    width:50%;
    height: inherit;
    @include respond-to(phone){
      width:100%;
    }

    .producer-header-ul{
      width: auto;
      position: absolute;
      left:$margin-sides;
      bottom: $margin-sides;
      @include respond-to(phone){
        position: absolute;
        height:30px;
        left:$margin-sides-mobile;
        bottom: $margin-sides-mobile;
      }
      .producer-header-li{
        width: 80px;
        height:50px;
        display: inline-block;
        @include respond-to(phone){
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        a{
          width: 100%;
          height: 100%;
          display: block;
          svg{
            width: 100%;
            height: 100%;
          }
        }

      }
    }
  }//producer-header-text
}



#producer-header-image-tukicarter{
  background-size: auto 80%;
}

#producer-header-image-juicyj{
  background-size: auto 90%;
  @include respond-to(phone){
    background-size: auto 80%;
  }
}




.producer-youtube{
  width: 100vw;
  height: 100vh;
  @include respond-to(phone){
    height: calc(100vh - 80px);
  }
}

.producer-video{
  @include respond-to(phone){
    height: calc(100vh - 80px);
  }
}

.producer-video-main{
  position: relative;
  width: 100%;
  height: 80vh;
  left: 0%;
  top:0;
  @include respond-to(phone){
    height: 60%;
    background-color: $black;
  }
  .iframe{
    position: relative;
    width: 100vw;
    height: 80vh;
    left: 0%;
    z-index: $z-producer-video;
    @include respond-to(phone){
      height: 80%;
      margin-top:10%;
    }
  }
  .producer-video-main-title{
    position: absolute;
    left: $margin-sides;
    top: $margin-sides;
    font-family: gtWalsheimPro-light, Helvetica;
    font-size: $font-size-paragraph;
    z-index: $z-producer-title;
    @include respond-to(phone){
      height: 60%;
    }
  }
}

.producer-video-related{
  position: relative;
  width: 100%;
  height: 20vh;
  left:0;
  top: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  background-color: $black;
  @include respond-to(phone){
    height: 30%;
  }
  .producer-video-ul{
    display: table;
    position: relative;
    width:auto;
    height: 15vh;
    margin-top: -7.5vh;
    top: 50%;
    left: 0;
    padding-right: 20px;
    @include respond-to(phone){

    }
    .producer-video-li{
      display: inline-block;
      position: relative;
      word-wrap: break-word;
      height:100%;
      width: 17vw;
      margin-left: 20px;
      &:hover{
        @include raised(0, 0, 10px, 0.4);
      }
      @include respond-to(phone){
        width: 32vw;
      }
      .producer-video-img{
        width:100%;
        height: 100%;
        display: block;
        background-size: 140% auto;
        background-position: center;
        background-repeat: no-repeat;
        z-index: $z-related-image;
      }
      .producer-video-title{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
        display: block;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        z-index: $z-related-title;
        table{
          width: 100%;
          height: 100%;
          tr{
            td{
              vertical-align: middle;
              height: 100%;
              p{
                display: block;
                width: 15vw;
                position: relative;
                margin-left: -7.5vw;
                left: 50%;
                word-break:keep-all;
                word-wrap: break-word;
                text-align: center;
                white-space: pre-wrap;
                // overflow: scroll;
                color: #000000;
                height: auto;
                font-family: gtWalsheimPro-light;
                line-height: $line-height-paragraph;
                font-size: $font-size-paragraph;
              }
            }
          }
        }
      }
    }
  }
}




.producer-releases{
  width:100vw;
  position: relative;
  height:200px;
  margin-top: $margin-top;
  margin-bottom: $margin-top;
  .producer-releases-ul{
    width:auto;
    display: table;
    height:100%;
    .producer-releases-li{
      position: relative;
      display: inline-block;
      float:left;
      width:200px;
      height:200px;
      .producer-releases-li-a{
        display:block;
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        .producer-releases-li-p{
          position: absolute;
          top:50%;
          height:30px;
          text-align: center;
          @include subtitle();
          // z-index: $z-index-producer-release;

        }
        .producer-releases-li-cover{
          position: absolute;
          width:100%;
          height:100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 98% 98%;
          @include hover-effect-opacity();

        }

      }

    }
  }
}












#tour-dates{
  width:50vw;
  margin: $margin-top auto;
  margin-bottom: 0;
  @include respond-to(phone){
    width: 90vw;
  }
}

// .bit-rsvp{
//   display: none !important;
// }
.bit-track-producer-header{
  display: none !important;
}

.bit-header{
  display: none !important;
}

.bit-events{
  tbody{
    tr:nth-child(2){
      display: none !important;
    }
  }
}


td>a{
  font-family: gtWalsheimPro-light !important;
  line-height: $line-height-paragraph !important;
  font-size: $font-size-paragraph !important;
  font-weight: normal !important;
}










//instagram
.producer-instagram{
  width:100vw;
  height: auto;
  @include respond-to(phone){
    overflow: hidden;
  }
  .producer-instagram-ul{
    width:100vw;
    height: auto;
    padding-bottom: 100px;
    .producer-instagram-li{
      width:100vw;
      height: auto;
      margin-top: $margin-top;
      @include respond-to(phone){
        margin-top: $margin-top-mobile;
      }
      .producer-instagram-li-a{
        .producer-instagram-img{
          width:600px;
          height: auto;
          margin: auto;
          display: block;
          @include respond-to(phone){
              width:100vw;
          }
        }
        .producer-instagram-caption{
          font-size: $font-size-paragraph;
          line-height: $line-height-paragraph;
          color:$black;
          font-family: $font-family-paragraph;
          // margin-left: $margin-sides;
          //   margin-top: $margin-sides;
          width: 600px;
          height: auto;
          margin: auto;
          display: block;
          @include respond-to(phone){
            width: calc(100vw - 10px);
            margin-left: $margin-sides-mobile;
            font-size: $font-size-paragraph-mobile;
            line-height: $line-height-paragraph-mobile;
          }
        }
      }
    }
  }
}


.load-more-li{
  width:600px;
  height:600px;
  margin:auto;
  margin-top: 100px;
    @include raised(0.6);
    border: 0;
    &:hover{
      // opacity:0.4;

      p{
        @include hover-effect-color($black, $yellow);
      }

    }
  .load-more-button{
    width:600px;
    height:600px;
    margin: auto;
    p{
      height:600px;
      width:600px;
      text-align: center;
      vertical-align: middle;
      @include title();
      line-height:600px;
    }
  }
}







.producer-backtotop{
  position: fixed;
  left: $margin-sides;
  bottom: $margin-sides;
  @include respond-to(phone){
    left: $margin-sides-mobile;
    bottom: $margin-sides-mobile;
  }
  p{
    width:100%;
    @include subtitle();
    @include hover-effect-color($black, $yellow);
    line-height: inherit;
  }
}
