<div class="release" ng-controller="homeCtrl">
  <table class="release-table">
    <tr class="release-tr">
      <td class="release-td">
        <div class="release-li-main">
          <div class="release-main-left">
            <table style="width: 100%;height: 100%;">
              <tr>
                <td style="vertical-align:middle; height:100%;">
                  <p class="home-main-left-name">{{mainRelease.data['release.name'].value[0].text}}</p>
                  <a class="home-main-left-artist" ng-if="mainRelease.data['release.artist'].value[0]">{{mainRelease.data['release.artist'].value[0].artistName.value[0].text}}</a>
                  <a class="home-main-left-artist" ng-if="mainRelease.data['release.producer'].value[0]">{{mainRelease.data['release.producer'].value[0].producerName.value[0].text}}</a>
                  <p class="release-main-left-description" ng-if="mainRelease.data['release.description'].value[0]">{{mainRelease.data['release.description'].value[0].text}}</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="release-main-video">
            <iframe class="release-main-video-iframe" ng-src="{{mainRelease.data['release.embed'].value[0].value.value | youtube}}" frameborder="0" allowfullscreen ng-if="mainRelease.data['release.embed'].value[0].slice_type == 'youtube'"></iframe>
            <iframe class="release-main-video-iframe" ng-src="{{mainRelease.data['release.embed'].value[0].value.value.url || trustUrl}}" frameborder="0" allowfullscreen ng-if="mainRelease.data['release.embed'].value[0].slice_type == 'soundcloud'"></iframe>
            <iframe class="release-main-video-iframe" ng-src="{{mainRelease.data['release.embed'].value[0].value.value.url || trustUrl}}" frameborder="0" allowfullscreen ng-if="mainRelease.data['release.embed'].value[0].slice_type == 'vimeo'"></iframe>
            <div class="release-main-video-iframe" style="background-image: url('{{mainRelease.data['release.embed'].value[0].value.value.main.url || trustUrl}}')" ng-if="mainRelease.data['release.embed'].value[0].slice_type == 'image'"></div>
          </div>
          <div class="release-main-right">
            <table style="width: 100%;height: 100%;">
              <tr>
                <td style="vertical-align:middle; height:100%;">
                    <div class="home-main-share">
                      <ul class="home-main-share-ul">
                        <li class="home-main-share-li">
                          <a href="http://tumblr.com/widgets/share/tool?canonicalUrl=taylorgang.com/home/{{r.uid}}" target="_blank" id="home-social-li-instagram">
                            <instagram-icon-directive></instagram-icon-directive>
                          </a>
                        </li>
                        <li class="home-main-share-li">
                          <a href="https://twitter.com/share?url=http%3A%2F%2Ftaylorgang.com%2Fhome%2F{{r.uid}}&via=taylorgang&related=twitterapi%2Ctwitter" target="_blank" id="home-social-li-twitter">
                            <twitter-icon-directive></twitter-icon-directive>
                          </a>
                        </li>
                        <li class="home-main-share-li">
                          <a href="http://www.facebook.com/share.php?u=taylorgang.com/home/{{r.uid}}.com&title=taylor+gang" target="_blank" id="home-social-li-facebook">
                            <facebook-icon-directive></facebook-icon-directive>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <a class="home-main-right-read" href="home/{{mainRelease.uid}}">home</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
