<div class="artist-detail" ng-controller="artistCtrl">

  <header class="artist-header" id="top">
    <h1 class="artist-header-name">{{mainArtist.data['artist.name'].value[0].text;}}</h1>
    <div class="artist-header-text">
      <ul class="artist-header-ul" ng-if="!isMobile">
        <li class="home-social-li" id="home-social-li-instagram" ng-if="mainArtist.data['artist.instagram'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.instagram'].value.url}}" target="_blank"><instagram-icon-directive></instagram-icon-directive></a></li>
        <li class="home-social-li" id="home-social-li-facebook" ng-if="mainArtist.data['artist.facebook'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.facebook'].value.url}}" target="_blank"><facebook-icon-directive></facebook-icon-directive></a></li>
        <li class="home-social-li" id="home-social-li-twitter" ng-if="mainArtist.data['artist.spotify'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.spotify'].value.url}}" target="_blank"><twitter-icon-directive></twitter-icon-directive></a></li>

        <li class="home-social-li" id="home-social-li-spotify" ng-if="mainArtist.data['artist.spotify'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.spotify'].value.url}}" target="_blank"><spotify-icon-directive></spotify-icon-directive></a></li>
        <li class="home-social-li" id="home-social-li-itunes" ng-if="mainArtist.data['artist.itunes'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.itunes'].value.url}}" target="_blank"><itunes-icon-directive></itunes-icon-directive></a></li>
        <li class="home-social-li" id="home-social-li-soundcloud" ng-if="mainArtist.data['artist.soundcloud'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.soundcloud'].value.url}}" target="_blank"><soundcloud-icon-directive></soundcloud-icon-directive></a></li>
      </ul>

      <!-- mobile -->
      <div class="home-mobile-links" ng-if="isMobile" ng-click="a_mobileLinks()">
        <a>LINKS</a>
      </div>

      <div class="home-social-background-mobile" ng-if="isMobile" ng-show="showArtistLinks">
        <ul class="home-social">
          <li class="home-social-li" id="home-social-li-instagram" ng-if="mainArtist.data['artist.instagram'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.instagram'].value.url}}" target="_blank"><instagram-icon-directive></instagram-icon-directive></a></li>
          <li class="home-social-li" id="home-social-li-facebook" ng-if="mainArtist.data['artist.facebook'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.facebook'].value.url}}" target="_blank"><facebook-icon-directive></facebook-icon-directive></a></li>
          <li class="home-social-li" id="home-social-li-twitter" ng-if="mainArtist.data['artist.spotify'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.spotify'].value.url}}" target="_blank"><twitter-icon-directive></twitter-icon-directive></a></li>

          <li class="home-social-li" id="home-social-li-spotify" ng-if="mainArtist.data['artist.spotify'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.spotify'].value.url}}" target="_blank"><spotify-icon-directive></spotify-icon-directive></a></li>
          <li class="home-social-li" id="home-social-li-itunes" ng-if="mainArtist.data['artist.itunes'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.itunes'].value.url}}" target="_blank"><itunes-icon-directive></itunes-icon-directive></a></li>
          <li class="home-social-li" id="home-social-li-soundcloud" ng-if="mainArtist.data['artist.soundcloud'].value.url"><a class="home-social-li-a" href="{{mainArtist.data['artist.soundcloud'].value.url}}" target="_blank"><soundcloud-icon-directive></soundcloud-icon-directive></a></li>
        </ul>
        <div class="home-social-back-mobile"><a ng-click="a_mobileLinks()">CLOSE</a></div>
      </div>
    </div>

    <div class="artist-header-image" id="artist-header-image-{{mainArtist.uid}}" style="background-image: url('{{mainArtist.data['artist.thumbnail'].value.main.url}}')"></div>
  </header>


<div class="artist-youtube">
    <div class="artist-video">

        <!-- main video -->
        <div class="artist-video-main">
          <iframe class="iframe" src="{{main_video | trustUrl}}" frameborder="0" allowfullscreen ></iframe>
          <p class="artist-video-main-title">
            {{main_title}}
          </p>
        </div>



        <!-- related video -->
        <div class="artist-video-related">
          <ul class="artist-video-ul">
            <li class="artist-video-li" ng-repeat="r in channel_data" ng-click="thisVideo(r.id.videoId, $index)" ng-mouseover="related_show=true" ng-mouseout="related_show=false">

              <div class="artist-video-title" id="artist-video-title-{{$index}}" ng-show="related_show">
                <table>
                  <tr>
                    <td>
                      <p class="artist-video-title-p">{{r.snippet.title}}</p>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="artist-video-img" style="background-image: url('{{r.snippet.thumbnails.high.url}}')"></div>
              <!-- http://img.youtube.com/vi/{{r.id.videoId}}/0.jpg -->
            </li>
          </ul>
        </div>

  </div>
</div>


  <div class="tour" id="tour-dates" ng-if="mainArtist.data['artist.bandsintownName'].value">
  </div>


  <div class="artist-releases" >
    <ul class="artist-releases-ul">
      <li class="artist-releases-li" ng-repeat="r in artistRelease | orderBy: r.data['release.date'].value track by $index" >
        <a class="artist-releases-li-a" href="{{r.data['release.buyLink'].value.url}}" target="_blank">
          <p class="artist-releases-li-p" ng-show="showRelease">{{r.data['release.coverTitle'].value[0].text}}</p>
          <div class="artist-releases-li-cover" style="background-image: url('{{r.data['release.cover'].value.main.url}}')" ng-mouseover="showRelease=true" ng-mouseout="showRelease=false">
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="infinite-loader" infinite-scroll="pagingArtist()"  infinite-scroll-distance="1" ></div>

  <div class="artist-backtotop" ng-hide="hideBacktotop" ng-click="gotoAnchor('top')">
    <p>BACK TO TOP</p>
  </div>

</div>
