
/*....................................General settings..................................*/




/*.....................TEXT MARK STYLES......................*/

::-moz-selection {
/*    background: $color-light-grey;*/
    text-shadow: none;
}


::selection {
    background-color:none;
    text-shadow: none;
    color: none;
}


/*.........................................................*/


/*.....................ACTIVE CLASSES......................*/

// .active{
// /*  color: $page-color !important;*/
//   pointer-events: none;
// }

/*.............................NG-CLOAK............................*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


[ng-click],
[data-ng-click],
[x-ng-click] {
cursor: pointer;
}


/*....................HIDING SCROLLBAR.....................*/

::-webkit-scrollbar {
    display: none;
}








/*.....................GENERAL STYLES......................*/

html{
 width: 100vw;
 height: auto;
 margin: 0 0;
 padding: 0 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;

}

body {
  position: relative;
   width: 100vw;
   height: auto;
   min-height: 100%;
    margin: 0 0;
    padding: 0 0;
    text-transform: uppercase;
    // line-height: $line-height-overall;
    font-family: Helvetica;
    letter-spacing: $letter-spacing;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;

    @include respond-to(phone){
      // overflow-x: hidden;
    }
}


.main {
  width: calc(100vw - 50px);
  height: auto;
  z-index: $z-main;
  visibility:visible;
}

p, a, li {
  font-size: $font-size-paragraph;
  list-style-type: none;
  letter-spacing: $letter-spacing;
  color: $black;
  outline: 0;
  line-height: $line-height-paragraph;
  font-family: gtWalsheim-light, Helvetica;
}


input, textarea, select, a, li {
  text-decoration: none;
  line-height: $line-height-paragraph;
}


span{
  text-transform: none;
}









/*...........................PAGE animation..............................*/

.page{
  opacity: 1;
  @include transitionOpacity;
}
.page.ng-leave{
  opacity: 0;
  @include transitionOpacity;
}
.page.ng-enter{
  opacity: 0;
  @include transitionOpacity;
}






/*...........................LOADER..............................*/

// .page-loader-div{
//   width: 100vw;
//   height: 100vh;
//   position: fixed;
//   z-index: $z-loader;
//   background-color: #FFFFFF;
//   opacity: 1;
//   .page-loader-taylorgang{
//       position: fixed;
//       top: 0px;
//       // z-index: $z-nav;
//       // -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
//       // animation: mymove 5s infinite;
//       p{
//         color
//       }
//   }
// }





.page-loader-div.ng-hide{
  opacity: 0 !important;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.page-loader-div.ng-hide-add.ng-hide-add-active{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.page-loader-div.ng-hide-remove.ng-hide-add-remove{
  -webkit-transition: all 500ms ease 1s;
  -moz-transition: all 500ms ease 1s;
  -ms-transition: all 500ms ease 1s;
  -o-transition: all 500ms ease 1s;
  transition: all 500ms ease 1s;
}











/*...........................HEADER..............................*/

// .header-wrapper.ng-hide{
//   opacity: 0;
//   @include transitionOpacity;
// }
//
//
// .header-wrapper{
//   position: fixed;
//   width: 165px;
//   height: 70px;
//   left: $margin-sides;
//   top: 20px;
//   display: block;
//   z-index: $z-header;
//   opacity: 1;
//   @include transitionOpacity;
//   .header-A-logo{
//     width: 45px;
//     height: 45px;
//     display: inline-block;
//     z-index: $z-header;
//     .header-logo-svg{
//       width: 100%;
//       height: 100%;
//       svg{
//         height: 100%;
//         width: 100%;
//       }
//     }
//   }
//   .header-section-status{
//     position: absolute;
//     right: 0;
//     top: 0px;
//     width: 100px;
//     height: 45px;
//     margin-left: 5px;
//     .header-section-status-p{
//       // display: block;
//       font-size: $font-size-nav;
//       font-family: "akzidenz-grotesk-condensed";
//       letter-spacing: $letter-spacing-nav;
//       line-height: 45px;
//       vertical-align: middle;
//     }
//   }
// }
//






@keyframes imageTranslate {
  0% { transform: translateY(5%);}
  100% {transform: translateY(0%);}
}

@-webkit-keyframes imageTranslate {
  0% { transform: translateY(5%);}
  100% {transform: translateY(0%);}
}

@-moz-keyframes imageTranslate {
  0% { transform: translateY(5%);}
  100% {transform: translateY(0%);}
}

@-ms-keyframes imageTranslate {
  0% { transform: translateY(5%);}
  100% {transform: translateY(0%);}
}

@-o-keyframes imageTranslate {
  0% { transform: translateY(5%);}
  100% {transform: translateY(0%);}
}

@mixin image-translated($image-faded: 0.8){

// transform: translateY(5%);
// -webkit-transition: imageTranslate 800ms ease !important;
// -moz-transition: imageTranslate 500ms ease !important;
// -ms-transition: imageTranslate 500ms ease !important;
// -o-transition: imageTranslate 500ms ease !important;
// transition: imageTranslate 800ms ease !important;

}



@mixin image-invisible($image-faded: 0.8){

opacity: 0;
-webkit-transition: opacity 500ms ease;
-moz-transition: opacity 500ms ease;
-ms-transition: opacity 500ms ease;
-o-transition: opacity 500ms ease;
transition: opacity 500ms ease;

}



.fadeUp{
// transform: translateY(0%) !important;
// -webkit-transition: imageTranslate 800ms ease !important;
// -moz-transition: imageTranslate 500ms ease !important;
// -ms-transition: imageTranslate 500ms ease !important;
// -o-transition: imageTranslate 500ms ease !important;
// transition: imageTranslate 800ms ease !important;

}

.fadeScroll{
  opacity: 1 !important;

}


.pageInvisible{
  visibility: hidden !important;
}

















@keyframes shiftLeftMain {
  from {@include transform-element(translateX(0vw));}
  to {@include transform-element(translateX(-50vw));}
}

@-webkit-keyframes shiftLeftMain {
  from {@include transform-element(translateX(0vw));}
  to {@include transform-element(translateX(-50vw));}
}

@-moz-keyframes shiftLeftMain {
  from {@include transform-element(translateX(0vw));}
  to {@include transform-element(translateX(-50vw));}
}

@-ms-keyframes shiftLeftMain {
  from {@include transform-element(translateX(0vw));}
  to {@include transform-element(translateX(-50vw));}
}

@-o-keyframes shiftLeftMain {
  from {@include transform-element(translateX(0vw));}
  to {@include transform-element(translateX(-50vw));}
}



//shift up keyframe
@keyframes shiftRighMain {
  from {@include transform-element(translateX(-50vw));}
  to {@include transform-element(translateX(0vw));}
}

@-webkit-keyframes shiftRighMain {
  from {@include transform-element(translateX(-50vw));}
  to {@include transform-element(translateX(0vw));}
}

@-moz-keyframes shiftRighMain {
  from {@include transform-element(translateX(-50vw));}
  to {@include transform-element(translateX(0vw));}
}

@-ms-keyframes shiftRighMain {
  from {@include transform-element(translateX(-50vw));}
  to {@include transform-element(translateX(0vw));}
}

@-o-keyframes shiftRighMain {
  from {@include transform-element(translateX(-50vw));}
  to {@include transform-element(translateX(0vw));}
}














//FILTER ANIMATION MAIN


@-webkit-keyframes filter-animation {
  0% {
    @include filter-element(0px);
  }

  100% {
    @include filter-element(12px);
  }
}


@-webkit-keyframes filter-animation-remove {
  0% {
    @include filter-element(12px);
  }


  100% {
    @include filter-element(0px);
  }
}




.main{
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);

  margin-left: 0px;
}


.main.mainFilter{
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
  margin-left: 10px;
}

.main.mainFilter-add.mainFilter-add-active{
  -webkit-animation: filter-animation 1s 1;
  -moz-animation: filter-animation 1s 1;
  -ms-animation: filter-animation 1s 1;
  -o-animation: filter-animation 1s 1;
  animation: filter-animation 1s 1;


  -webkit-animation: trans 1s 1;
  -moz-animation: filter-animation 1s 1;
  -ms-animation: filter-animation 1s 1;
  -o-animation: filter-animation 1s 1;
  animation: filter-animation 1s 1;
}



.main.mainFilter-remove.mainFilter-remove-active{
  -webkit-animation: filter-animation-remove 1s 1;
  -moz-animation: filter-animation-remove 1s 1;
  -ms-animation: filter-animation-remove 1s 1;
  -o-animation: filter-animation-remove 1s 1;
  animation: filter-animation-remove 1s 1;
}





$animation-speed: 0.6s;


.main{
  transform: translateX(0vw);
  -ms-transform: translateX(0vw);
  -webkit-transform: translateX(0vw);
transform-origin: 0 0;
-webkit-transform: translate3d(0, 0, 0);

}

.main.mainShifted{
  transform: translateX(-50vw) !important;
  -ms-transform: translateX(-50vw) !important;
  -webkit-transform: translateX(-50vw) !important;

}

.main.mainShifted-add.mainShifted-add-active{
  -webkit-animation: shiftLeftMain $animation-speed ease;
  -moz-animation: shiftLeftMain $animation-speed ease;
  -ms-animation: shiftLeftMain $animation-speed ease;
  -o-animation: shiftLeftMain $animation-speed ease;
  animation: shiftLeftMain $animation-speed ease;
}

.main.mainShifted-remove.mainShifted-remove-active{

  -webkit-animation: shiftRighMain $animation-speed ease;
  -moz-animation: shiftRighMain $animation-speed ease;
  -ms-animation: shiftRighMain $animation-speed ease;
  -o-animation: shiftRighMain $animation-speed ease;
  animation: shiftRighMain $animation-speed ease;
}
