/*VARIABLES*/

/*.......LETTER-SPACING......*/
$letter-spacing-global: 1px;
$letter-spacing-title: 4px;
/*.......LETTER SPACING......*/
$letter-spacing: 2px;
$letter-spacing-nav: 4px;
$letter-spacing-paragraph: 1px;

/*.......FONT-SIZES......*/
$font-size-splash: 20px;
$font-size-title: 28px;
$font-size-subtitle: 15px;
$font-size-nav: 14px;
$font-size-paragraph: 13px;







/*.......MARGINS......*/
$margin-sides: 30px;




/*.......DISTANCES......*/
$header-padding-bottom: 20px;




/*.......COLORS......*/
$black: rgba(0,0,0,1);;
$black-transparent: rgba(0,0,0,0.3);
$dark-grey: #666666;
$light-grey: #ADADAD;
$red: #CC0000;
$yellow: #FFFF00;
$color-subtext: rgba(156, 156, 156, 1);



/*.......LINE HEIGHTS......*/
$line-height-overall: 20px;
$line-height-paragraph: 19px;
$line-height-editorsletter: 22px;





// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;


/*.......Z-INDEX......*/
$z-loader: 14;
$z-artist-title:11;
$z-nav: 11;
$z-splash:10;
$z-pop-plus: 10;
$z-pop: 9;



$z-artist-video: 5;




$z-contributors: 2;
$z-main: 1;
$z-splash-video: -1;
