
/*.......FONT-FACES......*/
// @font-face {
//     font-family: jb-heureka;
//     src:  url('assets/fonts/jb-heureka/jb-heureka.woff') format('woff'), url('assets/fonts/jb-heureka/jb-heureka.otf') format('otf');
// }
//


//used
@font-face {
    font-family: telefon;
    src: url('assets/fonts/Telefon/TelefonWeb.woff') format('woff'), url('assets/fonts/Telefon/TelefonWeb.otf') format('otf');
}


@font-face {
    font-family: gtWalsheim-light-oblique;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProLight-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProLight-Oblique.otf') format('otf');
}


@font-face {
    font-family: gtWalsheim-light;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProLight.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProLight.otf') format('otf');
}

@font-face {
    font-family: gtWalsheim-regular-oblique;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProRegular-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProRegular-Oblique.otf') format('otf');
}


@font-face {
    font-family: gtWalsheim-regular;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProRegular.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProRegular.otf') format('otf');
}

@font-face {
    font-family: gtWalsheim-thin-oblique;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProThin-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProThin-Oblique.otf') format('otf');
}


//used
@font-face {
    font-family: gtWalsheim-black-oblique;
    src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProBlack-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProBlack-Oblique.otf') format('otf');
}
