.subscribe{
  width: 100vw;
  position: relative;
  height: 100vh;
  display: block;
}

.subscribe-table{
  position: absolute;
  height: 100%;
  width: 100%;
  tr{
    td{
      vertical-align: middle;
      height: 100%;
    }
  }
}








.subscribe-form{
  position: relative;
  display: block !important;
  width: 40vw;
  height: 32%;
  margin-left: -20vw;
  left: 50%;
  @include respond-to(phone) {
    width:80vw;
    margin-left: -40vw;
  }
  form{
    outline: 0;
    width:100%;
    height:100%;
    display:block;
    .subscribe-text{
      p{
        font-size:11px;
        margin-bottom:18px;
        font-family: gtWalsheimPro-black;
        padding-bottom: 10px;
        font-size: $font-size-title;
        text-align: center;

      }
    }
    .subscribe-form-group{
      padding-bottom:8px;
      .subscribe-form-control{
        width:100%;
        height:30px;
        border: none;
        padding: $paddingInput;
        outline:0;
        letter-spacing: $letter-spacing;
        font-size:10px;
        font-family: gtWalsheimPro-light;
        color:#000000;
        text-transform: uppercase;
        -webkit-appearance: none;
        border-radius: 0;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        @include respond-to(phone) {
          height: 35px;
        }

      }
    }
    .subscribe-submit-button{
      display:block;
      color: #000000;
      background-color:transparent;
      height:10%;
      letter-spacing:$letter-spacing;
      padding-bottom: 2px;
      font-size: 11px;
      font-family: gtWalsheimPro-light;
      border-style:none;
      outline:0;
      text-transform: uppercase;
      margin: 15px auto 20px;
      cursor: pointer;
      @include hover-effect-color($black, $yellow);
      a{
        @include hover-effect-color($black, $yellow);
      }
      &.contactDisabled{
        cursor:default;
        color: $light-grey;
      }
      @include respond-to(phone) {
        margin-top: 25px;
        font-size: 12px;
      }

    }
  }
}





#subscribe-messages{

}
.subscribe-alert{

}
.subscribe-close{

}
.subscribe-alert-success{
  .subscribe-back-button{

  }
}





.subscribe-alert-success{
  line-height: 16px;
  font-size: 11px;
  text-align: left;
  position: fixed;
  width:40vw;
  top: 50%;
  font-family: gtWalsheimPro-light;
  color: #606060;
  letter-spacing: 1px;
  span{
    line-height: 16px;
    font-size: 11px;
    text-align: left;
    font-family: gtWalsheimPro-light;
    color: #606060;
    letter-spacing: 1px;
  }
  .subscribe-back-button{
    width: auto;
    font-size: $font-size-paragraph !important;
    color: $black;
    text-align: left;
    margin-top: 10px;
    line-height: 16px;
    @include hover-effect-color($black, $yellow);
      a{
        @include hover-effect-color($black, $yellow);
        display: block;
        font-size: $font-size-paragraph !important;
        letter-spacing: $letter-spacing;
        cursor: pointer;
        text-align: left;
      }
  }
}
.subscribe-alert-danger{
    line-height: 16px;
    font-size: 11px;
    width:40vw;
    text-align: left;
    position: FIXED;
    top: 50%;
    font-family: gtWalsheimPro-light, Helvetica;
    color: #606060;
    letter-spacing: 1px;
    .subscribe-back-button{
      width: auto;
      font-size: $font-size-paragraph !important;
      color: $black;
      text-align: left;
      margin-top: 10px;
      line-height: 16px;
      @include hover-effect-color($black, $yellow);
        a{
          @include hover-effect-color($black, $yellow);
          display: block;
          font-size: $font-size-paragraph !important;
          letter-spacing: $letter-spacing;
          cursor: pointer;
          text-align: left;
        }
    }
}
