<div class="home" summary="home" ng-controller="homeCtrl">

  <div class="home-filters" >

    <!-- <p class="home-title" ng-hide="pageLoading">
      TAYLOR GANG RELEASES
    </p> -->

    <div class="home-filters-predefined">
      <ul class="home-filters-predefined-ul" ng-init="search">
        <li class="home-filters-predefined-li" ng-repeat="f in Filter" >
          <a ng-click="search = wizkhalifa">{{f.data['filter.value'].value[0].text}}</a>
        </li>
      </ul>
    </div>

    <input class="home-filters-input" type="text" name="name" value="" ng-model="search" placeholder="filter">

    <ul class="home-social">

      <li class="home-social-li">
        <a class="home-social-li-a" href="https://www.instagram.com/taylorgang/" target="_blank"  id="home-social-li-instagram">
          <instagram-icon-directive></instagram-icon-directive>
        </a>
      </li>
      <li class="home-social-li" >
        <a class="home-social-li-a" href="https://www.facebook.com/TaylorGang" target="_blank" id="home-social-li-facebook">
          <facebook-icon-directive></facebook-icon-directive>
        </a>
      </li>
      <li class="home-social-li" >
        <a class="home-social-li-a" href="https://twitter.com/TaylorGang" target="_blank" id="home-social-li-twitter">
          <twitter-icon-directive></twitter-icon-directive>
        </a>
      </li>



    </ul>
  </div>






  <div class="home-releases">
    <ul class="home-releases-ul">
      <article class="home-releases-li" ng-repeat="r in Release | orderBy: $index | filter:search track by $index" ng-class="{expand: $index==selectedIndex}" ng-click="thisRelease(r.uid)" id="release-{{$index}}">
        <div class="home-releases-cover" style="background-image: url('{{r.data['release.cover'].value.main.url}}')"></div>
        <div class="home-releases-arrow" ng-class="{expand: $index==selectedIndex}"></div>
        <div class="home-releases-li-main" ng-class="{expand: $index==selectedIndex}" ng-if="$index==selectedIndex">
          <!-- ng-repeat-end ng-if="$index == moveBox" -->
          <div class="home-main-left">
            <table style="width: 100%;height: 100%;">
              <tr>
                <td style="vertical-align:middle; height:100%;">
                  <p class="home-main-left-artist">{{r.data['release.artist'].value[0].text}}</p>
                </td>
              </tr>
            </table>

          </div>

          <div class="home-main-video">
            <iframe class="home-main-video-iframe" ng-src="{{r.data['release.embed'].value[0].value.value.url || trustUrl}}" frameborder="0" allowfullscreen ng-if="r.data['release.embed'].value[0].slice_type == 'youtube'"></iframe>
            <iframe class="home-main-video-iframe" ng-src="{{r.data['release.embed'].value[0].value.value.url || trustUrl}}" frameborder="0" allowfullscreen ng-if="r.data['release.embed'].value[0].slice_type == 'soundcloud'"></iframe>
            <iframe class="home-main-video-iframe" ng-src="{{r.data['release.embed'].value[0].value.value.url || trustUrl}}" frameborder="0" allowfullscreen ng-if="r.data['release.embed'].value[0].slice_type == 'vimeo'"></iframe>
            <div class="home-main-video-iframe" style="background-image: url('{{r.data['release.embed'].value[0].value.value.main.url || trustUrl}}')" ng-if="r.data['release.embed'].value[0].slice_type == 'image'"></div>
          </div>
<!-- {{mainReleaseYoutube}} -->
          <div class="home-main-right">
            <table style="width: 100%;height: 100%;">
              <tr>
                <td style="vertical-align:middle; height:100%;">
                  <p class="home-main-right-name">{{r.data['release.name'].value[0].text}}</p>
                </td>
              </tr>
            </table>
          </div>


        </div>
      </article>


    </ul>
  </div>





</div>
