<div class="subscribe" ng-controller="subscribeCtrl">
      <table class="subscribe-table">
        <tr>
          <td style="height:100%; vertical-align: middle;">
              <div class="subscribe-form">

                                                                          <!-- SHOW ERROR/SUCCESS MESSAGES -->
                                                                            <div id="subscribe-messages" ng-show="message">{{ message }}</div>



                                                                            <!-- errors -->
                                                                              <div class="subscribe-alert alert-danger" ng-show="error">
                                                                              <button class="subscribe-close" data-dismiss="alert">x</button>
                                                                             <!-- An error occured while trying to send message. -->
                                                                                  <!-- <p class="back-button"><a href="/contact" ng-click="contactMobileOutsideBackLink()">back</a></p> -->
                                                                              </div>

                                                                              <div class="subscribe-alert-success" ng-show="success">
                                                                                <!-- <button class="close" data-dismiss="alert">x</button> -->
                                                                                 We received your message. Thank you for your interest.
                                                                                <p class="subscribe-back-button"><a href="/contact" ng-click="contactMobileOutsideBackLink()">back</a></p>
                                                                              </div>

    <!-- form -->
                <form role="form" name="subscribeForm" ng-submit="s_processForm()" novalidate ng-hide="hideSubscribe">

                  <div class = "subscribe-text">
                    <p>subscribe</p>

                  </div>


                  <div class="subscribe-form-group">
                    <input class="subscribe-form-control input" type="email" name="email" ng-model="s_formData.email" required="required" placeholder="EMAIL" onfocus="this.placeholder = ''" onblur="this.placeholder = 'EMAIL'">
                  </div>


                  <button type="submit" class="subscribe-submit-button"  ng-class="{'contactDisabled': subscribeForm.$invalid}" ng-click="s_processForm()" ng-disabled="subscribeForm.$invalid">SUBMIT</button>
              </form>
            </div>
        </td>
      </tr>
    </table>



</div>
