<div class="nav" ng-controller="navCtrl" ng-class="{'navShifted': navShown}">

  <div class="nav-list">
    <table>
      <tr>
        <td>
          <ul class="nav-ul">
            <li class="nav-li-big" ng-click="closeNav()"><a href="/taylorgang"><p>taylorgang</p></a></li>

            <li class="nav-li" ng-repeat="a in general" ng-click="closeNav()"><a href="{{a.slug}}"><p>{{a.name}}</p></a></li>

            <li class="nav-li-big" ng-click="closeNav()"><a href><p>shop</p></a></li>

            <li class="nav-li-big" ng-click="closeNav()"><a href="/contact"><p>contact</p></a></li>

          </ul>
        </td>
      </tr>
    </table>
  </div>



<div class="social">

  <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1000px" height="1000px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<line fill="#FFFFFF" stroke="#000000" stroke-width="52" stroke-miterlimit="10" x1="356" y1="152" x2="356" y2="854"/>
<line fill="#FFFFFF" stroke="#000000" stroke-width="52" stroke-miterlimit="10" x1="628" y1="152" x2="628" y2="854"/>
<line fill="#FFFFFF" stroke="#000000" stroke-width="52" stroke-miterlimit="10" x1="844" y1="368" x2="142" y2="368"/>
<line fill="#FFFFFF" stroke="#000000" stroke-width="52" stroke-miterlimit="10" x1="844" y1="640" x2="142" y2="640"/>
<g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>

</div>


</div>
